@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

:root {
  --main-font: "Fira Sans";
  --header-font: "Source Sans Pro";
  --secondary-orange: #ffe8c7;
  --primary-orange: #ffaf3b;
  --darkbrown: #523100;
  --error-color: #d60808;
  --success-color: #1ea50e;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  color: #343434;
  height: 100%;
}

body {
  font-family: var(--main-font), sans-serif;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 14px;
  position: relative;
}

h1 {
  font-size: 5rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto 20px auto;
  padding: 30px 0px 15px;
  font-family: var(--header-font), sans-serif;
  border-bottom-width: 2px;
  border-bottom-color: var(--primary-orange);
  border-bottom-style: solid;
}

#logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 5rem;
  color: #343434;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-btn {
  padding: 16px;
  font-size: 20px;
  border: none;
  background-color: var(--secondary-orange);
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px var(--shadow-color);
  z-index: 1;
}

.dropdown-list a {
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  background-color: white;
  color: var(--darkbrown);
}

.dropdown-list a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: var(--primary-orange);
}

form {
  margin: 20px 0;
  border: #ff5733 3px solid;
  padding: 25px 15px;
  background-color: #f4f4f4;
}

form div {
  padding: 12px 20px;
  font-size: 18px;
}

input {
  font-size: 18px;
}

input[type="radio"] {
  margin: -3px 5px 0;
  vertical-align: middle;
}

#new-actor-list div, #new-director-list div {
  margin: 6px 0;
  padding: 3px 0;

}

#new-actor-list > div > span, #new-director-list > div > span {
  display: inline-block;
  width: 70px;
}

#new-actor-list br {
  margin: 5px 0;
}

textarea {
  resize: none;
}

button {
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"] {
  height: 40px;
  padding: 3px 15px;
  color: #deffde;
  background-color: #003f0a;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--shadow-color);
  cursor: pointer;
}

.error {
  color: var(--error-color);
  margin-top: 15px;
  display: inline-block;
}

.success {
  color: var(--success-color);
}

.rating {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: gray;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  color: gray;
}

.genre {
  background-color: gray;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 5px;
  border-radius: 4px;
  margin-right: 3px;
}

ul {
  margin-top: 5px;
}

ul > li {
  list-style-position: inside;
  padding-bottom: 5px;
  padding-left: 15px;
  color: var(--darkbrown);
}

ul a {
  color: var(--darkbrown);
}

.divider {
  border-bottom-style: solid;
  border-width: 1.5px;
  border-color: var(--shadow-color);
}

.review {
  box-shadow: 2px 2px 4px var(--shadow-color);
  background-color: white;
  margin: 15px 0;
}

.review-summary {
  background-color: white;
  margin: 15px 0;
}

.review > span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* [number] stars for the review */
.review > p:not(.comment) {
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.comment {
  font-size: 16px;
}

.error-div {
  padding-top: 5px;
  padding-left: 0;
}