:root {
  --main-font: "Fira Sans";
  --header-font: "Source Sans Pro";
  --secondary-orange: #ffe8c7;
  --primary-orange: #ffaf3b;
  --darkbrown: #523100;
  --error-color: #d60808;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  color: #343434;
  height: 100%;
}

body {
  font-family: var(--main-font), sans-serif;
  max-width: 1150px;
  margin: 0 auto;
  font-size: 14px;
}

h1 {
  font-size: 5rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto 20px auto;
  padding: 30px 0px 15px;
  font-family: var(--header-font), sans-serif;
  border-bottom-width: 2px;
  border-bottom-color: var(--primary-orange);
  border-bottom-style: solid;
}

#logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 5rem;
  color: #343434;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-btn {
  padding: 16px;
  font-size: 20px;
  border: none;
  background-color: var(--secondary-orange);
  cursor: pointer;
}

.dropdown-list {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-list a {
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.dropdown-list a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: var(--primary-orange);
}

form {
  margin: 20px 0;
  border: #ff5733 3px solid;
  padding: 25px 15px;
}

form div {
  width: 400px;
  padding: 12px 20px;
  font-size: 18px;
}

input {
  font-size: 18px;
}

input[type="radio"] {
  margin: -3px 5px 0;
  vertical-align: middle;
}

input[type="submit"] {
  width: 90px;
  height: 40px;
  color: #deffde;
  background-color: #003f0a;
}

.error {
  color: var(--error-color);
}